/* ? HEADER .....................*/
    header {
        height: 6rem;
        background-color: #06131f;
    }

    .fa-spotify {
        color: #15d860;
        font-size: 2.5rem;
    }

/* ? MAIN .......................*/
    main {
        background-color: #1d2d3c;
        height: calc(100vh - 6rem);
        overflow-y: auto;
    }

    .my_dischi-container {
        width: 80%;
    }

    .card {
        width: 18rem;
        background-color: #112030;
        color: white;
    }

    .my_author {
        font-size: .9rem;
        font-weight: 300;
        margin-bottom: .5rem;
    }

    .my_year {
        font-weight: 700;
    }